.navbar-container{
   margin-bottom: 60px;
   margin-top: 20px;
 
   
}


.navbar-container ul li{
   
    display: inline;
    list-style: none;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 15px;
  }